html { 
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  text-align: center;
  margin: 0;
  height: 100%;
  background: #000;
  color: #fff;
  display: none;
}

.st-container {
  margin: 0 auto;
}

.st-Title {
  font-size: 2.98rem;
  margin-bottom: 30px;
  @media(max-width: 760px) {
    font-size: 2.5rem;
  }
}

.st-Subttl {
  font-size: 20px;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

/* header */
.header {
  background: #000;
  padding: 2vh 0;
  padding-top: 0;
  transition: 0.8s;
  transform: translateY(40px);
  position: relative;
  z-index: 1;
  @media(max-width: 760px) {
    transform: translateY(20px);
  }
  &.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    opacity: .8;
    transform: translateY(0px);
    padding-top: 2vh;
  }
  .header-Container {
    .header-Inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 4%;
      .header-Logo_area {
        .header-Logo {
          font-size: 30px;
          font-family: serif;
          @media(max-width: 760px) {
            font-size: 24px;
          }
        }
      }
      .header-List_area {
        .menu-Toggle {
          display: none;
          @media(max-width: 760px) {
            display: block;
            position: relative;
            width: 3.0rem;
            height: 1.6rem;
          }
          .bar {
            @media(max-width: 760px) {
              box-sizing: border-box;
              position: absolute;
              width: 60%;
              height: 2px;
              background-color: #fff;
              transition: all .5s;
            }
            &.bar_1 {
              @media(max-width: 760px) {
                top: 0;
                &.close {
                  top: 10px;
                  transform: rotate(45deg);
                }
              }
            }
            &.bar_2 {
              @media(max-width: 760px) {
                top: 10px;
                &.close {
                  opacity: 0;
                }
              }
            }
            &.bar_3 {
              @media(max-width: 760px) {
                top: 20px;
                &.close {
                  top: 10px;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
        .header-List {
          display: flex;
          @media(max-width: 760px) {
            display: none;
          }
          .header-Item {
            margin: 0 20px;
            position: relative;
          }
        }
      }
    }
  }
}/* header-Block */

/*sp-Menu_block */
.sp-Menu_block {
  display: none;
  @media(max-width: 760px) {
    display: block;
  }
  .sp-Menu_container {
    .sp-Menu_inner {
      @media(max-width: 760px) {
        position: fixed;
        z-index: 10;
        cursor: pointer;
        top: 0;
        width: 84%;
        height: 100%;
        padding-top: 40px;
        background: #000;
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-300px);
        transition: all 1s;
        &.sp-Menu_fadeIn {
          opacity: 0.9;
          transform: translateX(0);
          visibility: visible;
        }
        .sp-Menu_list {
          margin-top: 40px;
          .sp-Menu_item {
            padding: 20px 0;
          }
        }
      }
    }
  }
}

/* footer */
.footer {
  background-color: #303030;
  padding: 6% 0;
  .footer-Container {
    .footer-Inner {
      .footer-List {
        display: flex;
        justify-content: center;
        padding-bottom: 4%;
        .footer-Item {
          margin: 0 20px;
          @media(max-width: 760px) {
            font-size: 10px;
            margin: 0 10px;
          }
        }
      }
      .footer-Cr_inner {
        .copyright {
          letter-spacing: 1px;
          color: #c2c4c4;
          @media(max-width: 760px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}





