
.hero-Block {
  height: 100vh;
  //border-top: 1.5px solid #222;
  margin-bottom: 14%;
  .hero-Container {
    .hero-Inner {
      .hero-Title_inner {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28vh;
        .hero-Title_area {
          .hero-Title {
            font-size: 10vh;
            font-family: 'Times New Roman', Times, serif;
            letter-spacing: 2px;
            margin-bottom: 10px;
          }
          .hero-Name {  
            font-size: 44px;
            letter-spacing: 2px;
            &::after {
              content: 'ダンジョウ シュウ';
              display: block;
              font-size: 18px;
              margin-top: 20px;
            }
          }
        }
      }
      .hero-Scroll_down_area {
        margin-right: 20px;
        margin-bottom: 50px;
        margin-top: 16vh;
        @media(max-width: 760px) {
          margin-right: 0;
        }
        .hero-Scroll_down_bar {
          width: 2px;
          height: 110px;
          position: relative;
          background: transparent;
          animation: scrollDownBar 1.5s ease infinite;
          border-radius: 100%;
          margin: 0 auto;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent, #00b0ff, transparent);
          }
          @keyframes scrollDownBar {
            0%{
                transform-origin: top;
                transform: scaleY(0);
            }
            45%{
                transform-origin: top;
                transform: scaleY(1);
            }
            55%{
                transform-origin: bottom;
                transform: scaleY(1);
            }
            100%{
                transform-origin: bottom;
                transform: scaleY(0);
            }
          }
        }
      }
      .hero-Bg_circles_area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .hero-Bg_circle {
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          background: rgba(255, 255, 255, 0.2);
          animation: bgRotate 25s linear infinite;
          bottom: -150px;
          &:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
          }
          &:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
          }
          &:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
          }
          &:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
          }
          &:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
          }
          &:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
          }
          &:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
          }
          &:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
          }
          &:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
          }
          &:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
          }
          @keyframes bgRotate {
            0%{
              transform: translateY(0) rotate(0deg);
              opacity: 1;
              border-radius: 0;
            }      
            100%{
              transform: translateY(-1000px) rotate(720deg);
              opacity: 0;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}/* hero-Block */

.about-Block {
  height: 80vh;
  @media(max-width: 760px) {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
  }
  .about-Container {
    .about-Title_inner {
      display: flex;
      justify-content: center;
      align-items: center;
      .about-Title_area {
        .about-Title {
          font-size: 3.56rem;
          margin-bottom: 30px;
          @media(max-width: 760px) {
            font-size: 2.56rem;
          }
        }
        .about-Title_text{
          line-height: 180%;
          letter-spacing: 0.6px;
          @media(max-width: 760px) {
            text-align: justify;
          }
          .pc-Line {
            @media(max-width: 760px) {
              display: none;
            }           
          }
        }
      }
    }
  }
}/* about-Block */

.profile-Block {
  width: 76%;
  margin: 0 auto;
  padding-bottom: 15%;
  @media(max-width: 760px) {
    width: 90%;
    padding-bottom: 30%;
  }
  .profile-Container {
    .profile-Inner {
      .profile-Area {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #222;
        margin: 0 auto;
        padding: 8% 0;
        @media(max-width: 760px) {
          display: block;
        }
        .profile-Img_area {
          width: 50%;
          height: 100%;
          padding-left: 10%;
          @media(max-width: 760px) {
            margin: 0 auto;
            padding-left: 0;
            margin-bottom: 50px;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
        .profile-Text_area {
          width: 70%;
          padding: 0 8%;
          text-align: justify;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 180%;
          @media(max-width: 760px) {
            width: auto;
          }
          .profile-Career_area {
            .profile-Career_title {
              font-size: 1.4rem;
              font-weight: bold;
              color: rgba(37, 124, 255, 0.6);
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}/* profile-Block */

.work-Block {
  padding-bottom: 10%;
  @media(max-width: 760px) {
    padding-bottom: 30%;
  }
  .work-Container {
    .work-Inner {
      margin: 0 auto;
      .work-Title_inner {
        .work-Title_text {
          @media(max-width: 760px) {
            font-size: 14px;
          }
        }
      }
      .work-Content_inner {
        width: 76%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 14px;
        margin: 0 auto;
        padding-top: 50px;
        @media(max-width: 760px) {
          display: block;
          padding-top: 30px;
        }
        .work-Content_area {
          max-width: 33%;
          margin: 0 auto;
          padding: 12px;
          opacity: 0;
          transition: 0.6s;
          transform: translateY(120px);
          @media(max-width: 760px) {
            max-width: 100%;
            padding: 0;
            padding-top: 30px;
          }
          &.work-Content_fadeIn {
            opacity: 1;
            transform: translateY(0);
          }
          .work-Content_card {
            &:active {
              -webkit-transform: translateY(2px);
              transform: translateY(2px);
            }
            .work-Content_img {
              width: 100%;
              height: auto;
              transition: transform .3s ease;
              &:hover {
                transform: scale(1.1);
              }
            }
            .work-Content_name {
              margin: 1.5rem;
            }
          }
        }
      }
      .work-Modal_inner {
        position: fixed;
        top: 12%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s ease-in-out 0s;
        &.work-Modal_fadeIn {
            opacity: 1;
            visibility: visible;
          }
        .work-Modal_card {
          width: 80%;
          padding: 80px 20px;
          margin: 0 auto;
          background-color: #fafafa;
          color: #333;
          @media(max-width: 760px) {
            width: 90%;
            position: relative;
          }
          .work-Modal_card_flex {
            display: flex;
            margin: 0 auto;
            @media(max-width: 760px) {
              display: block;
            }
            .work-Modal_card_text_inner {
              text-align: justify;
              margin-right: 20px;
              @media(max-width: 760px) {
                margin-right: 0;
              }
              .work-Modal_card_detail_area {
                padding-bottom: 30px;
                .work-Modal_card_title {
                  &::before,&::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 50%;
                    height: 1px;
                    border-top: solid 1px #ddd;
                  }
                  &_0 {
                    &::before,&::after {
                      width: 30%;
                    }
                    &::before {
                      left: 8%;
                    }
                    &::after {
                      right: 8%;
                    }
                  }
                  &_1 {
                    &::before,&::after {
                      width: 14%;
                    }
                    &::before {
                      left: 2%;
                    }
                    &::after {
                      right: 2%;
                    }
                  }
                  &_2 {
                    &::before,&::after {
                      width: 20%;
                    }
                    &::before {
                      left: 6%;
                    }
                    &::after {
                      right: 6%;
                    }
                  }
                  &_3 {
                    &::before,&::after {
                      width: 15%;
                      @media(max-width: 760px) {
                        width: 13%;
                      }
                    }
                    &::before {
                      left: 6%;
                      @media(max-width: 760px) {
                        left: 2.5%;
                      }
                    }
                    &::after {
                      right: 6%;
                      @media(max-width: 760px) {
                        right: 2.5%;
                      }
                    }
                  }
                  &_4 {
                    &::before,&::after {
                      width: 24%;
                    }
                    &::before {
                      left: 7%;
                    }
                    &::after {
                      right: 7%;
                    }
                  }
                  &_5 {
                    &::before,&::after {
                      width: 14%;
                    }
                    &::before {
                      left: 6%;
                    }
                    &::after {
                      right: 6%;
                    }
                  }
                }
                .work-Modal_card_text {
                  width: 90%;
                  font-size: 14px;
                  margin-bottom: 20px;
                  line-height: 180%;
                  @media(max-width: 760px) {
                    font-size: 14px;
                    width: auto;
                  }
                }
                .work-Modal_card_link {
                  color: #0000ff;
                  letter-spacing: 1px;
                }
              }
              .work-Modal_card_dev_area {
                .work-Modal_card_dev_title {
                  &::before,&::after {
                    content: "";
                    display: block;
                    border-top: solid 1px #ddd;
                    width: 20%;
                    height: 1px;
                    position: absolute;
                    top: 50%;
                  }
                  &::before {
                    left: 10%;
                    @media(max-width: 760px) {
                      left: 7%;
                    }
                  }
                  &::after {
                    right: 10%;
                    @media(max-width: 760px) {
                      right: 7%;
                    }
                  }
                }
                .work-Modal_card_dev_text {
                  width: 90%;
                  font-size: 12px;
                  line-height: 180%;
                  margin-bottom: 20px;
                }
              }
            }
            .work-Modal_card_img_inner {
              .work-Modal_card_img_area {
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
            .work-modalClose_inner {
              position: relative;
              @media(max-width: 760px) {
                position: static;
              }
              .modalClose {
                font-size: 3rem;
                position: absolute;
                top: -12%;
                right: 0;
                border-radius: 50%;
                @media(max-width: 760px) {
                  font-size: 2rem;
                  top: 0;
                  bottom: 40%;
                  right: 2%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.skill-Block {
  width: 76%;
  padding-bottom: 14%;
  margin: 0 auto;
  @media(max-width: 760px) {
    width: 90%;
    padding-bottom: 30%;
  }
  .skill-Container {
    .skill-Inner {
      .skill-Title_inner {
        padding-bottom: 6%;
        .skill-Title_text {
          letter-spacing: 1px;
          line-height: 180%;
          text-align: justify;
          @media(max-width: 760px) {
            font-size: 12px;
          }
        }
      }
      .skill-Chart_inner {
        display: flex;
        justify-content: space-around;
        padding-bottom: 2%;
        @media(max-width: 760px) {
          display: block;
        }
        .skill-Chart_area {
          @media(max-width: 760px) {
            width: 300px;
            height: 300px;
            margin: 0 auto;
            margin-bottom: 50px;
          }
          &.frontChart {
            opacity: 0;
            transition: 0.8s;
            transform: translateY(120px);
            @media(max-width: 760px) {
              margin-right: 2.6rem;
            }
            &.frontChart_fadeIn {
              opacity: 1;
              transform: translateY(0);
            }
          }
          &.backChart {
            opacity: 0;
            transition: 1.6s;
            transform: translateY(120px);
            &.backChart_fadeIn {
              opacity: 1;
              transform: translateY(0);
            }
          }
          &.devChart {
            opacity: 0;
            transition: 2.0s;
            transform: translateY(120px);
            &.devChart_fadeIn {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
      .skill-Chart_text_inner {
        letter-spacing: 1px;
        line-height: 180%;
        text-align: justify;
        opacity: 0;
        transition: 2.4s;
        transform: translateY(120px);
        @media(max-width: 760px) {
          font-size: 12px;
          letter-spacing: 0.6px;
        }
        &.skill-Chart_text_inner_fadeIn {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}/* hero-Block */

.msg-Block {
  padding-bottom: 10%;
  .msg-Container {
    .msg-Inner {
      .msg-Title_inner {
        .msg-Title {
          margin-bottom: 5.6rem;
          @media(max-width: 760px) {
            margin-bottom: 3rem;
          }
        }
      }
      .msg-Content_inner {
        width: 54%;
        margin: 0 auto;
        @media(max-width: 760px) {
          width: 82%;
        }
        .msg-Content_title {
          font-size: 1.8rem;
          margin-bottom: 2.0rem;
          font-size: 1.6rem;
          text-align: center;
          font-family: serif;
          @media(max-width: 760px) {
            font-size: 1.6rem;
            text-align: justify;
          }
        }
        .msg-Content_text {
          letter-spacing: 1px;
          line-height: 2rem;
          text-align: justify;
          margin-bottom: 1.5rem;
          font-family: serif;
          @media(max-width: 760px) {
            line-height: 1.8rem;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.contact-Block {
  width: 76%;
  margin: 0 auto;
  padding-bottom: 8%;
  @media(max-width: 760px) {
    width: 90%;
  }
  .contact-Container {
    .contact-Inner {
      .contact-Title_inner {
        width: 60%;
        margin: 0 auto;
        @media(max-width: 760px) {
          width: auto;
        }
        .contact-Title_text {
          letter-spacing: 1px;
          line-height: 180%;
          text-align: justify;
          @media(max-width: 760px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

