@media (max-width: 500px) {

  /* 共通のスタイルシート */
  .section-title {
    font-size: 1.3em;
  }

  .text-ja {
    font-size: 0.5em;
  }

  /* top-wrapperスタイルシート */
  .top-wrapper {
    padding-bottom: 8%;
    position: relative;
  }

  .top-portfolio {
    position: absolute;
    top: 36%;
    left: 38%;
    padding-top: 0;
    display: block;
    font-size: 1.6em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
  }

  .name {
    font-family: 'Caveat', cursive;
    font-size: 2.4em;
    margin: 0;
    position: absolute;
    top: 44%;
    left: 34%;
  }


  /* headerスタイルシート */
  header {
    margin: 0;
  }

  .portfolio {
    font-size: 0.8em;
  }

  .main-nav {
    display: block;
    padding-right: 8%;
  }

  .main-nav a,
  .bar {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: relative;
    width: 3.0rem;
    height: 1.6rem;
  }

  .menu-toggle span {
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: #fff;
    transition: all .5s;
  }

  .bar1 {
    top: 0;
  }

  .bar2 {
    top: 10px;
  }

  .bar3 {
    top: 20px;
  }

  .menu-toggle.show .bar1 {
    transform: translateY(10px) rotate(-45deg);
  }

  .menu-toggle.show .bar2 {
    opacity: 0;
  }

  .menu-toggle.show .bar3 {
    transform: translateY(-10px) rotate(45deg);
  }


  /* responsive-menuスタイルシート */
  #slideL {
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 80%;
    height: 100%;
    padding-top: 40px;
    background: #000;
    display: block;
  }

  .responsive-menu-wrapper {
    transform:translateX(-300px);
    opacity:0;
    transition : all 1s;
  }

  .responsive-menu li a {
    color: #fff;
  }

  .slideL-fadein {
    opacity: 0.8;
    transform: translateX(0);
  }

  .toggle-responsive-menu {
    text-align: right;
  }

  .toggle-responsive-menu .bar1 {
    transform: translateY(10px) rotate(-45deg);
  }

  .toggle-responsive-menu .bar2 {
    opacity: 0;
  }

  .toggle-responsive-menu .bar3 {
    transform: translateY(-10px) rotate(45deg);
  }

  /*#slideR .slide-inner {
    overflow: auto;
    overflow-x: hidden;
    background: #ddd;
  }*/

  .responsive-menu li {
    padding: 3% 0;
      color: #fff;
  }


  /* works-wrapperスタイルシート */
  .works-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .work-btn {
    padding: 10px 5px;
    margin: 6%;
    font-size: 8px;
  }

  #slider-work .work-contents-area {
    display: block;
  }

  .work-info-area {
    width: 100%;
    padding-left: 0;
    line-height: 150%;
  }

  .work-info-area h3 {
    font-size: 16px;
  }

  .work-info-area p {
    font-size: 12px;
  }

  .swiper-btn img {
    width: 40px;
    height: 40px;
  }

  #prev {
    position: absolute;
    top: 62%;
    left: 4%;
  }
  
  #next {
    position: absolute;
    top: 62%;
    right: 4%;
  }

  /* about-wrapperスタイルシート */
  .profile-contents {
    display: block;
  }

  .profile-img-field {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 12%;
  }

  .profile-img-field img {
    width: 50%;
    height: auto;
  }

  .text-profile-field {
    width: 100%;
    height: auto;
    text-align: justify;
    padding-left: 0;
    padding-right: 0;
  }

  .text-profile-field h3 {
    margin: 0 4%;
    font-weight: normal;
  }

  .text-profile-field p {
    padding: 0 4%;
    color: #333;
    font-size: 0.875rem;
  }

  /* skill-wrapper */
  .skill-block {
    grid-template-columns: 1fr;
  }

  .skill-block-area h3 {
    font-weight: normal;
  }

  .skill-blobk-area p {
    font-size: 14px;
  }

  .jquery-icon {
    width: 16%;
  }

  /* contact-wrapper */
  .fa-envelope,
  .fa-instagram,
  .fa-twitter-square {
    font-size: 2rem!important;
  }

  .stop {
    font-size: 8px;
  }

  /* footer */
  .footer-nav li {
    font-size: 0.6em;
    padding: 0 10px;
  }

  .copy-right {
    font-size: 0.6em;
  }
}
